<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EEB85651E5FCD1F00F4E703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEB857E1E5FCD1F00F4E703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEB85891E5FCD1F00F4E703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
